@import '../../assets/sass/helpers';

.profile {
  color: $royal-purp;
  padding-bottom: 20px;
  text-align: center;

  p {
    color: $snow;
    position: relative;
  }

  @include bp-desktop {
    .profile {
      
    }
  }


}