@import '../../assets/sass/helpers';

.pic {
    width: auto;
    height: 280px;
    margin: auto;

  img {
    height: 100%;
    border-radius: 100%;
  }


  @include bp-desktop {
    .pic {
      height: 320px;
    }
  }
}

