@import '../../assets/sass/helpers';

header {
  // background-color: $royal-purp;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: $playfair;
  position: fixed;
  top: 0;
  left: 0;

  
  a {
    color: $royal-purp;
    text-decoration: none;
    padding: 10px;
  }

  a:hover {
     font-weight: bold;
  }

  a:visited {
    color: $royal-purp;
  }
  
  
  .brand {
    align-self: center;
    padding: 20px; 
  }


  nav {
    align-self: center;
    padding: 10px;
  }
}