@import '../../assets/sass/helpers';


.headline {
  padding: 20px;
  position: relative;
  top: 50px;

  h1 {
    border: 20px;
    display: inline;
    color: $royal-purp;
  }

  @include bp-desktop {
    display: inline;
  }

}