@import '../../assets/sass/helpers';


.headline {
  margin: 0 auto;

  h1 {
    border: 20px;
    display: inline;
    color: $royal-purp;
  }

  @include bp-desktop {
    padding-top: 80px;
    text-align: center;
  }
}