@import './assets/sass/helpers';

body {
  background-color: $charcoal;
  padding: 0;
  margin: 0;
  max-height: 100vh;
  width: 100%;
}

//  *:not(path) {
//     &:not(g) {
//       color:                      hsla(210, 100%, 100%, 0.9) !important;
//       background-color:           hsla(210, 100%,  50%, 0.5) !important;
//       outline:      solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;
//       box-shadow:   none !important;
//     }
//   }